
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #121212; 
    color: white; 
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 10px 20px;
}

.navbar-left, .navbar-right {
    display: flex;
}

.navbar-link {
    margin: 0 10px;
    color: white;
    font-size: 18px;
    padding: 8px;
}

.navbar-link:hover {
    background-color: #444;
    border-radius: 5px;
}


.search-form {
    text-align: center;
    margin-top: 20px;
}

.search-form form {
    display: inline-block;
    text-align: center;
}

.search-form input {
    padding: 10px;
    width: 250px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

.search-form button {
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.search-form button:hover {
    background-color: #666;
}


.content {
    width: 80%;
    margin: 20px auto;
}


.footer-links {
    text-align: center;
    margin-top: 20px;
}

.footer-link {
    margin: 10px;
    font-size: 18px;
}

.footer-link:hover {
    color: #bbb;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15%;
}

button:hover {
    background-color: #333;
}

/* Login/Signup Form Styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.login-box {
    background: #333;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

input:hover {
    border: 2px solid white;
    background-color: #555;
}

.signup-link a {
    width: 100%;
    padding: 5px 10px;
    color: white;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 30;
    text-decoration: none;
}

.signup-link a:hover {
    background: #333;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.footer img {
    width: 50px;
    height: auto;
}


.top-songs-list {
    list-style-type: none;  
    padding-left: 0;
}

.top-songs-list li {
    display: flex;
    align-items: center;  
    font-size: 18px;
    margin-bottom: 10px;
}


.top-songs-list li span {
    font-weight: bold;
    margin-right: 10px;
}


.top-songs-list li img.song-image {
    width: 10px;  
    height: 10px; 
    margin-left: 10px;  
    border-radius: 50%; 
    vertical-align: middle;  
}


.song-box-container {
    display: flex;
    flex-direction: row; 
    gap: 20px;  
    margin-top: 20px;
    overflow-x: auto; 
}


.song-box {
    width: 120px;
    height: 120px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.song-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
}
