{% extends 'songeek/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if album %}
        {{ album.name }}
    {% else %}
        Unknown Album
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if album %}
        <h1>{{ album.name }}</h1>
        <h2>{{ album.artist }}</h2>
        <img src="{{ album.cover.url }}" alt="{{ album.name }}" width="300">
        {% if songs %}
        <ul>
            {% for song in songs %}
                <li>{{ song.title }} - {{ song.length}}</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No Songs in current album</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'songeek:add_song_to_album' album.slug %}">Add Song</a><br />
        {% endif %}

    {% else %}
        <strong>The specified category does not exist.</strong>
    {% endif %}
{% endblock %}