{% extends 'songeek/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<ul>
{% for album in albums %}
<li>
    <img src="{{ album.cover.url }}" alt="{{ album.title }}" width="150">
    <h2>{{ album.title }}</h2>
    <p>By {{ album.artist }}</p>
</li>  
{% endfor %}
</ul>   
</hr>
<ul>
    <li><a href="{% url 'songeek:add_song_to_playlist' %}">Add a song to a playlist</a></li>
    <li><a href="{% url 'songeek:new_playlist' %}">Create a new Playlist</a></li>
    <li><a href="{% url 'songeek:profile' %}">Profile</a></li>
</ul>
{% endblock %}