{% extends 'songeek/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for Songeek</h1>
    {% if registered %}
        <strong>You're now a listener!</strong>
    {% else %}
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'songeek:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}