{% extends 'songeek/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ song.title }} - {{ song.album.name }}
{% endblock %}

{% block body_block %}
    <h1>{{ song.title }}</h1>
    <h2>by {{ song.album.artist }}</h2>
    <p>Duration: {{ song.length }}</p>

    <h3>Album: <a href="{% url 'songeek:show_album' song.album.slug %}">{{ song.album.name }}</a></h3>
    <img src="{{ song.album.cover.url }}" alt="{{ song.album.name }}" width="300">

    <h2>Reviews</h2>
        <div id="reviews">
            {% if reviews %}
                {% for review in reviews %}
                    <p><strong>{{ review.user.username }}</strong>: ★ {{ review.rating }} - {{ review.comment }} - {{ review.timeStamp }}</p>
                {% endfor %}
            {% else %}
                <p id="no_reviews">No reviews yet. Be the first to review this album!</p>
            {% endif %}
        </div>

    {% if user.is_authenticated %}
    <h3>Leave a Review</h3>
    <form id="review_form" action="{% url 'songeek:song_add_review' song.id %}" method="post">
        {% csrf_token %}
        <label for="rating">Rating (1-5):</label>
        <input type="number" id="rating" name="rating" min="1" max="5" required>
    
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea>
    
        <input type="submit" value="Leave a Review">
    </form>    
{% endif %}

<script src="{% static 'js/reviews.js' %}"></script>

    <br>
    <a href="{% url 'songeek:show_album' song.album.slug %}">Back to Album</a>
{% endblock %}
